.med-page{
    margin-top: 7%;
}

.table{
    text-align: center;
    background-color: cornflowerblue;
}

.notify-button{
    margin-left: 5%;
}

.left-align{
    text-align: left;
}

.white-text{
    color: white;
    font-weight: bold;
}

.red{
    color: red;
    font-weight: bolder;
}

.yellow{
    color: yellow;
    font-weight: bolder;
}

.green{
    color: green;
    font-weight: bolder;
}

button{
    background-color: lightgray;
    font-weight: bold;
}

.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
    border-bottom: solid, black;
    color: black;
}

thead{
    color: black;
}
