.center-form{
    margin-left: 30%;
    margin-right: 41%;
    text-align: right;
}

label{
    padding-bottom: 1%;
    padding-top: 5%;
    padding-right: 2%;
}

button{
    margin-bottom: 2%;
}

h5{
    margin-bottom: 2%;
    margin-top: 10%;
}

.login-form{
    margin-top: 5%;
    margin-bottom: 3%;
}

h1{
    color: red;
}

.my-container-two{
    padding-bottom: 495px;
    position: relative;
}

.my-container-two:before{
    padding-bottom: 495px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("https://media.capc.org/images/AdobeStock_274131656.original.original.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.my-content-two{
    position: relative;
}